/* force fit-content */
html, body, div { margin: 0; padding: 0; line-height: 0; }
p { line-height: 1em; }

.tile:hover { border: 2px solid black; margin: 0px; }
.tile       { border: 1px solid black; margin: 1px; }

#wall {
  line-height: 10px;
}

#wall .wall,
#wall .discards {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
#wall .wall + .discards {
  margin-left: 0.5%;
}

#wall .wall,
#wall .discards,
#players {
  background: url(felt.png);
}

#players {
  border: 1px solid black;
  text-shadow: 0px 0px 5px black,
               0px 0px 2px black,
               0px 0px 2px black,
               0px 0px 10px black;
  color: rgb(255, 255, 255);
  font-size: 110%;
}

#players .player:before {
  content: attr(data-name);
  line-height: 1em;
}

#players .player {
  display: block;
  border: 1px solid transparent;
}

#players .player.highlight {
  background-color: rgba(255,127,0,0.6);
}

#players .player .hand {
  display: block;
  height: 71px;
}

#players .player .hand .bank {
  display: inline-block;
}
#players .player .hand .bank.open div {
  display: inline-block;
}

#players .run + .set,
#players .run + .run,
#players .set + .run,
#players .set + .set {
  margin-left: 0.5em;
}

.declared.bank,
.won .highlight .concealed.bank,
.won .highlight .bonus.bank {
  background: url(retina_wood.png);
  padding: 0.7em 0.7em 0.2em;
  margin: 0 5px;
  border: 1px solid rgb(83, 45, 6);
}

#history {
  display: none;
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: white;
  border: 10px solid lightblue;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: 0 0 20px 5px gray;
  overflow-y: scroll;
}

#log {
  line-height: 1.2em;
  font-family: monospace;
}

.dialog {
  display: inline-block;
  width: 66px;
  line-height: 1.2em;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  background: url(felt.png);
  border-radius: 10px;
  text-align: center;
  margin-top: 2em;
}

.dialog button {
  width: 100%;
  border-radius: 5px;
  line-height: 1em;
  padding-bottom: 0.2em;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

*[data-recommended] {
  box-shadow: 0 0 2px 2px rgb(156, 81, 81);
}

*[data-drawntile] {
  box-shadow: 0 0 2px 2px white;
}

button.recommend.winning {
  box-shadow: 0 0 15px 3px greenyellow;
}
